---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/* For centering things */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Creating Homepage Button*/
.button {
  background-color: black; 
  border: 2px solid black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}

.button:hover {
  background-color: white;
  color: black;
}

